body{
    height: 2700px;
    position: relative;
}


.container-fluid{
    background-image: url(../images/home1.jpg);
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.nav-1{
    position: absolute;
    z-index: 100;
    top: 0;
 margin-left: 80px;
}

.part2{
    /* position: absolute; */
    margin-top: -80px;
}

.ph1{
    background-image: url(../images/p1.jpg);
    background-size: cover;
}

.ph2{
    background-image: url(../images/p2.jpg);
    background-size: cover;
}

.oline{
    line-height: 15px;
    font-weight: bold;
}

/* .you{
    top: 50%;
    left: 30%;
    transform: translate(-50,-50);
    margin-left: ;
} */